.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
system/tests/
system/tests/results/
system/tests/_ci_phpunit_test.sqlite
system/tests/_ci_phpunit_test.sqlite3
system/tests/_ci_phpunit_test.sqlitedb
system/

*.json
*.log
*.txt
*.md

.editorconfig

# User uploaded files
uploads/*
!uploads/index.html
!uploads/skripsi/index.html
